<div class="combi-group">
	<Select
		@data={{policies}}
		@value={{mut currentPolicy}}
		@label="Policy"
		@disabled={{disabled}}
		@force={{true}}
		@allowClear={{false}}
		/>

	{{#if requireData}}
	<LabelInput
		@label="Glob expression"
		@value={{mut args.model.policy_data}}
		@disabled={{disabled}}
		class="size-8"
		/>
	{{/if}}
</div>

<Checkbox @checked={{mut args.model.require_approval}}>Approve each change manually</Checkbox>
<Checkbox @checked={{mut args.model.pull}}>Pull regularly for changes</Checkbox>
