button,
.btn {
	$color: map-get($status-colors, "blue");

	border-style: solid;
	border-width: 0px 0px 3px;
	border-color: darken($color, 20%);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #ffffff;
	background: $color;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;

	border-radius: 3px;
	font-weight: 500;
	padding: 9px 15px;

	&.lg {
		border-radius: 6px;
		font-weight: 700;
		padding: 19px 39px 18px;
		font-size: 18px;
	}

	&:hover,
	&:focus,
	&:active {
		background: darken($color, 10%);
		border-color: darken($color, 30%);
	}

	@each $k, $v in $status-colors {
		&.#{$k} {
			background: $v;
			border-color: darken($v, 20%);

			&:hover,
			&:focus,
			&:active {
				background: darken($v, 10%);
				border-color: darken($v, 30%);
			}
		}
	}
}
