$background-primary: #f5f7fb;

$foreground-primary: #222;

$status-colors: (
	"blue": #467fcf,
	"green": #5eba00,
	"orange": #fd9644,
	"red": #cd201f,
	"yellow": #f1c40f,
	"teal": #2bcbba,
	"purple": #a55eea,
);

$color-primary: map-get($status-colors, "blue");
$color-error: map-get($status-colors, "red");
