$arrow-border-color: #ccc;
$background: white;
$arrow-size: 10px;

.dropdown {
	position: relative;
	cursor: pointer;

	.content {
		position: absolute;
		border-radius: 5px;
		border: 1px solid $arrow-border-color;
		right: 0;
		top: 100%;
		min-width: 100%;
		background: $background;
		padding: $gutter;
		z-index: 3;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 120ms ease-in-out;

		&.visible {
			transform: scaleY(1);
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: $arrow-size;
			height: $arrow-size;
			z-index: 4;
			top: $arrow-size/-2;
			right: 20px;
			background: white;
			border: 1px solid transparent;
			z-index: 5;
			border-width: 1px;
			border-left-color: $arrow-border-color;
			border-top-color: $arrow-border-color;
			transform: rotate(45deg);
		}

		:global(li:not(:first-child)) {
			margin-top: $gutter / 2;
		}
	}
}
