$ember-power-select-material-active-color: $color-primary;

$ember-power-select-default-border-radius: 0.5rem;
$ember-power-select-border-color: #9e9e9e;
$ember-power-select-trigger-border: 1px solid #9e9e9e;
// $ember-power-select-active-trigger-border: none;
// $ember-power-select-active-trigger-border-bottom: 2px solid $ember-power-select-material-active-color;
// $ember-power-select-trigger-ltr-padding: 0 0.5rem;

$ember-power-select-dropdown-border: 1px solid #9e9e9e;
$ember-power-select-highlighted-color: inherit;
$ember-power-select-highlighted-background: #eee;
$ember-power-select-selected-background: #e1e1e1;
$ember-power-select-line-height: 2rem;
$ember-power-select-focus-outline: none;
$ember-power-select-dropdown-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$ember-power-select-search-field-border: none;
$ember-power-select-search-field-focus-border: none;
$ember-power-select-multiple-option-border: none;
$ember-power-select-multiple-option-border-radius: 15px;
$ember-power-select-multiple-option-padding: 0 10px;
$ember-power-select-multiple-option-line-height: 2;

@import "ember-power-select";

@keyframes drop-fade-below {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}
@keyframes drop-fade-above {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}
.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below 0.15s;
}
.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below 0.15s reverse;
}

// When opening above the trigger
.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-above 0.15s;
}
.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-above 0.15s reverse;
}
.ember-power-select-placeholder {
  transition: transform 0.2s, color 0.2s;
  transform-origin: 0 0;
  .ember-power-select-trigger--active & {
    transform: scale(0.7) translateY(-10px);
    color: $ember-power-select-material-active-color;
  }
}

.form-group .ember-power-select-trigger {
  margin-top: 0.9rem;
  box-sizing: content-box;

  &.ember-power-select-trigger--active ~ label,
  &.ember-basic-dropdown-trigger--below ~ label,
  &.ember-basic-dropdown-trigger--above ~ label,
  &.has-content ~ label {
    top: -0.2rem;
    line-height: 1;
    font-size: 0.9em;
  }

  &.ember-power-select-trigger--active ~ label {
    color: $color-primary;
  }
}
