$form-radius: 0.5rem;
$form-border-color: #9e9e9e;

label {
  display: block;
  margin-bottom: 0.3rem;
}

input,
textarea,
.input-select {
  border: 1px solid $form-border-color;
  outline: 0;
  border-radius: $form-radius;
  font-size: inherit;
  padding: 0 0.5rem;
  line-height: 2rem;
}

.input-select {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 0;

  &:before {
    content: "\e9d4";
    // content: "\e92d";
    font-size: 1.1rem;
    font-family: "feathericon" !important;
    font-style: normal;
    font-weight: normal;
  }
  &:checked:before {
    content: "\e92d";
  }
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;

  label {
    position: absolute;
    top: 0.9rem;
    line-height: 2rem;
    padding-left: 0.5rem;
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: #888;
    pointer-events: none;
  }

  input,
  textarea,
  .input-select {
    margin-top: 0.9rem;

    &:active + label,
    &:focus + label,
    &.has-content ~ label {
      top: -0.2rem;
      line-height: 1;
      font-size: 0.9em;
      pointer-events: all;
    }

    &:active + label,
    &:focus + label {
      color: $color-primary;
    }

    &:invalid {
      color: $color-error;
    }
  }
}

.combi-group {
  position: relative;
  display: flex;
  width: 100%;

  & > * {
    flex: 1 1%;
  }

  .fe {
    position: absolute;
    top: 1.5rem;
    right: 0.8rem;

    &:before {
      animation: rotation 1500ms infinite linear;
    }
  }

  .form-group {
    input,
    .ember-basic-dropdown-trigger {
      border-left-width: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-of-type {
      input,
      .ember-basic-dropdown-trigger {
        border-left-width: 1px;
        border-top-left-radius: $form-radius;
        border-bottom-left-radius: $form-radius;
      }
    }

    &:last-of-type {
      input,
      .ember-basic-dropdown-trigger {
        border-right-width: 1px;
        border-top-right-radius: $form-radius;
        border-bottom-right-radius: $form-radius;
      }
    }
  }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
