.gauge {
	path {
		stroke-width: 75;
		fill: none;

		@each $k, $v in $status-colors {
			&.#{$k} {
				stroke: #{$v};
			}
		}
	}
	path.background {
		stroke: #ecf0f1;
	}

	text {
		font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

		@each $k, $v in $status-colors {
			&.#{$k} {
				fill: #{$v};
			}
		}
	}
}
