$gutter: 0.75rem !default;

@mixin old_wrapper($dir: row, $wrap: wrap) {
	display: flex;
	flex-wrap: $wrap;
	flex-direction: $dir;

	margin-left: -$gutter;
	margin-right: -$gutter;

	& > * {
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

@mixin reversable($dir: row) {
	&.reverse {
		@if $dir == column {
			flex-direction: column-reverse;
		} @else {
			flex-direction: row-reverse;
		}
	}
}

@mixin center-wrap {
	justify-content: center;
}
