@import "reset";
@import "feathericon";
@import "colors";
@import "grid";

@import "ember-ps-custom";

@import "dropdown";
@import "gauge";
@import "buttons";
@import "form";

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-left: 0;
  margin-right: 0;
  min-height: 100vh;
  min-width: 100%;
  overflow-y: scroll;

  font-family: Roboto, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: $background-primary;
}

body,
p {
  font-size: 0.9375rem;
}

.outer-content {
  display: flex;

  max-width: 1200px;
  width: 1200px;
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: 0;

  &.vertical {
    flex-direction: column;
  }
}

.content {
  display: flex;
  margin-left: -$gutter;
  margin-right: -$gutter;
  flex-wrap: wrap;

  > * {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &.vertical {
    flex-direction: column;
  }
}

@for $i from 1 through 12 {
  .size-#{$i} {
    flex-basis: $i/12 * 100%;
  }
}

.size-auto {
  flex-grow: 1;
  flex-shrink: 1;
}

.items-flex-end {
  justify-items: flex-end;
}

.muted {
  opacity: 0.75;
}

.grow-1 {
  flex-grow: 1;
}

h1 {
  color: rgb(73, 80, 87);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.userCard {
  display: flex;

  img {
    border-radius: 100%;
    min-width: 36px;
    min-height: 36px;
    padding: 0;
    margin-right: 1rem;
  }

  .muted {
    font-size: 0.8rem;
  }
}

#mainContent {
  flex-grow: 1;
}

#header {
  display: flex;
  justify-content: center;
  width: 100%;

  background: white;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);

  .logo {
    font-size: 2rem;
  }
}

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
  border-top: 1px solid rgba(0, 40, 100, 0.12);
}

#mainNav {
  display: flex;
  flex-grow: 0;
  justify-content: center;

  width: 100%;
  font-size: 0.85rem;
  background: white;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);

  a {
    color: rgb(125, 128, 136);
    margin-right: 15px;

    &:hover {
      color: rgb(55, 57, 61);
    }

    &.active::before {
      color: rgb(3, 175, 243);
    }
  }
}

$card-radius: 3px;

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;
  margin-bottom: 1.5rem;

  word-wrap: break-word;

  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: $card-radius;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &[status]::before {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;

    height: $card-radius;

    content: "";

    border-radius: $card-radius $card-radius 0 0;
    background: transparent;
  }

  @each $k, $v in $status-colors {
    &[status="#{$k}"]::before {
      background: #{$v};
    }
  }

  > header {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;

    display: flex;
    align-items: center;

    min-height: 3rem;
    padding: 0.4rem $gutter * 2;

    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  }

  > section {
    position: relative;

    flex: 1 1 auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5rem 1.5rem;
  }

  > footer {
    display: flex;

    padding: 0.4rem 1.5rem;

    color: #9c9c9c;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
  }
}

#loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
