<h1>
	{{model.name}}
</h1>
<div class="content">
	<Card @size="4">
		<Gauge @label="CPU" @max={{model.limits.cpu}} @value={{model.used.cpu}} />
	</Card>
	<Card @size="4">
		<Gauge
			@label="Memory"
			@max={{model.limits.memory}}
			@value={{model.used.memory}}
			@color="green"
		 />

	</Card>
	<Card @size="4">
		<Gauge
			@label="Storage"
			@max={{model.limits.storage}}
			@value={{model.used.storage}}
			@color="purple"
		 />

	</Card>
	<Card @size="12">
		{{#each model.apps as |app|}}
			<h1>
				{{app.name}}
			</h1>
		{{else}}
			<h4>
				No apps
			</h4>
		{{/each}}
	</Card>
</div>