<h1>
	Users
</h1>
<Card>
	<table>
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |registry|}}
				<tr>
					<td>
						{{registry.name}}
					</td>
					<td></td>
				</tr>
			{{else}}
				<tr>
					<td colspan="10">
						No users
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</Card>