<div class="size-{{size}}">
	<div class="card" status={{statusColor}}>
		<header>
			{{link-to @app.name "project.apps.show" app.id}}
		</header>
		<section>
			<p>
				<b>
					Status:
				</b>
				{{@app.status}}
			</p>
			{{!-- {{{if project.apps.isPending "&hellip;" project.apps.length}}} --}}
		</section>
	</div>
</div>
