<main id="loginMain">
	<div class="size-4">
		<div class="card" status="green">
			<section>
				<form {{action "submit" on="submit"}}>
					<h1>
						Login
					</h1>
					<label for="email">
						Email
					</label>
					{{input value=email type="email" id="email" placeholder="your@email.com"}}
					<label for="password">
						Password
					</label>
					{{input value=password type="password" id="password" placeholder="*******"}}
					<button>
						Log in
					</button>
				</form>
			</section>
		</div>
	</div>
</main>