<h1>
	New service
</h1>

<div class="content">
	<Card @size=8>
		<form {{action "save" on="submit"}}>
			<LabelInput @label="Name" @value={{mut model.name}} @disabled={{disabled}} />

			<div class="combi-group">
				<Select
					@label="App"
					@data={{apps}}
					@value={{mut appID}}
					@allowClear={{false}}
					@searchEnabled={{true}}
					/>

				<Select
					@label="Port"
					@data={{ports}}
					@value={{mut model.portName}}
					@force={{true}}
					/>
			</div>

			<LabelInput @label="Expose at" @type="number" @value={{mut model.expose}} />

			<button>Save</button>
		</form>
	</Card>

	<div class="size-4">
		<Card>
			Hello
		</Card>
	</div>
</div>
