<header class="content">
	<h1 class="grow-1">
		Applications
	</h1>
	<div>
		{{link-to "Create" "project.apps.new" class="btn"}}
	</div>
</header>
<div class="content">
	{{#each model.apps as |app|}}
		<AppCard @app={{app}} />
	{{else}}
		<h2>
			No applications
		</h2>
	{{/each}}
</div>