<h1>
	New project
</h1>
<Card>
	<form {{action "save" on="submit"}}>
		<p>
			<label for="project_name">
				Name
			</label>
			<br />
			{{input value=model.name id="project_name"}}
		</p>
		<button class="lg">
			Create
		</button>
	</form>
</Card>