<path d="M 950 500 A 450 450 0 0 0 50 500" class="background"></path>
<path class="{{color}}" d="{{path}}"></path>
<text
	class="{{color}} percentage"
	text-anchor="middle"
	alignment-baseline="middle"
	x="500"
	y="300"
	font-size="140"
	font-weight="bold"
>
	{{percentLabel}}
</text>
{{#if label}}
	<text
		class="{{color}} title"
		text-anchor="middle"
		alignment-baseline="middle"
		x="500"
		y="450"
		font-size="90"
		font-weight="normal"
	>
		{{label}}
	</text>
{{/if}}