<header class="content">
	<h1 class="grow-1">
		New app
	</h1>
</header>
<form class="content" {{action "save" on="submit"}}>
	<div class="size-8">
		<Card>
			<div class="combi-group">
				<Select
					@data={{registries}}
					@value={{mut model.registry}}
					@label="Registry"
					@disabled={{disabled}}
				 />

				<LabelInput
					@label="Image"
					@value={{mut model.image}}
					@disabled={{disabled}}
					class="size-8"
				 />

				{{#if inspecting}}
					<i class="fe fe-loader"></i>
				{{/if}}
			</div>
			<div class="combi-group">
				<LabelInput @label="Name" @value={{mut model.name}} @disabled={{disabled}} />
				<LabelInput
					@label="Identifier"
					@value={{mut model.id}}
					@disabled={{disabled}}
					@readonly={{true}}
				 />

			</div>
			<LabelInput
				@label="Replicas"
				@value={{mut model.replicas}}
				@type="number"
				@disabled={{disabled}}
			 />

			<div class="content">
				<ResourceInput
					@value={{mut model.cpu}}
					@label="CPU resources"
					@type="cpu"
					class="size-6"
					@disabled={{disabled}}
				 />

				<ResourceInput
					@value={{mut model.memory}}
					@label="Memory resources"
					class="size-6"
					@disabled={{disabled}}
				 />

			</div>
			<button>
				Save
			</button>
		</Card>

		<h2>
			Ports
		</h2>
		<Card>
			<div class="content">
				<div class="size-4">
					<b>
						Port number
					</b>
				</div>
				<div class="size-8">
					<b>
						Name
					</b>
				</div>
				{{#each model.ports as |port|}}
					<LabelInput
						@value={{mut port.port}}
						@disabled={{disabled}}
						@type="number"
						class="size-4"
					 />

					<LabelInput @value={{mut port.name}} @disabled={{disabled}} class="size-8" />
				{{else}}
					<div class="size-12">
						No ports added
					</div>
				{{/each}}
			</div>
			<div class="content">
				<div class="grow-1"></div>
				<div>
					<button class="green" {{action "addPort"}}>
						Add
					</button>
				</div>
			</div>
		</Card>

		<h2>
			Environment variables
		</h2>
		<Card>
			<div class="content">
				<div class="size-4">
					<b>
						Name
					</b>
				</div>
				<div class="size-8">
					<b>
						Value
					</b>
				</div>
				{{#each model.env as |env|}}
					<LabelInput @value={{mut env.name}} @disabled={{disabled}} class="size-4" />
					<LabelInput @value={{mut env.value}} @disabled={{disabled}} class="size-8" />
				{{else}}
					<div class="size-12">
						No environment variables added
					</div>
				{{/each}}
			</div>
			<div class="content">
				<div class="grow-1"></div>
				<div>
					<button class="green" {{action "addEnv"}}>
						Add
					</button>
				</div>
			</div>
		</Card>

		<h2>
			Automation
		</h2>
		<Card>
			<AutoDeployment @model={{model.autoDeployment}} />
		</Card>
	</div>

	{{!--
		Help text
	--}}
	<div class="size-4">
		<Card>
			<p>
				<b>
					After you enter a image
				</b>
				, we'll try to inspect the image and add configuration and ports to the application.
				<br />
				After the image is inspected you can change the configuration, or add more information that's not defined in the inspected Docker image.
			</p>
		</Card>
		<Card>
			<p>
				<b>
					Identifier
				</b>
				is a string that uniquely identifies this application. It has to be unique in this project.
				<br />
				By default it's based on the name of the application.
			</p>
		</Card>
		<Card>
			<p>
				<b>
					Replicas
				</b>
				is the number of instances the application should run as. To have extra redundancy and support zero-downtime deployments
				it's suggested to have a minimum of 2 replicas.
			</p>
		</Card>
		<Card>
			<p>
				<b>
					Resources
				</b>
				is how much resources is allocated to one instance of this application.
			</p>
			<p>
				The total resource usage for your application is the requested limits multiplied by the number of replications.
			</p>
		</Card>
		<Card>
			<p>
				<b>
					Port numbers
				</b>
				is ports exposed by your application. You only need to expose ports accessed by
				other applications, instances or the outside world. The name has to be set, and is used within Stout to be a more accessible
				way to remember what the ports does.
			</p>
			<p>
				By default all the ports you configure is accessible inside your project on
				<code>
					[your-id]:[port-number]
				</code>
				, and you can
				expose one or more of them from the networking tab.
			</p>
		</Card>
		<Card>
			<p>
				<b>
					Environment variables
				</b>
				is the way to configure your application.
			</p>
		</Card>
	</div>
</form>
