<h1>
	New registry
</h1>
<Card>
	<form {{action "save" on="submit"}}>
		<p>
			<label for="registry_name">
				Name
			</label>
			<br />
			{{input value=model.name id="registry_name"}}
		</p>
		<p>
			<label for="registry_email">
				Email
			</label>
			<br />
			{{input value=model.email type="email" id="registry_email"}}
		</p>
		<p>
			<label for="registry_server">
				Server
			</label>
			<br />
			{{input value=model.server type="url" id="registry_server"}}
		</p>
		<p>
			<label for="registry_username">
				Username
			</label>
			<br />
			{{input value=model.username id="registry_username"}}
		</p>
		<p>
			<label for="registry_password">
				Password
			</label>
			<br />
			{{input value=model.password type="password" id="registry_password"}}
		</p>
		<button>
			Save
		</button>
	</form>
</Card>