<h1>
	Settings
</h1>
<Card>
	Settings are coming ...
</Card>
<h1>
	Danger zone
</h1>
<Card>
	<p>
		Delete your project?
	</p>
	<p class="muted">
		This will remove everything and cannot be undone!
	</p>
	<button class="red" {{action "deleteProject"}}>
		Delete project
	</button>
</Card>