<PowerSelect
	@options={{data}}
	@searchEnabled={{searchEnabled}}
	@selected={{selection}}
	@triggerId={{id}}
	@triggerClass={{inputClasses}}
	@allowClear={{allowClear}}
	@onchange={{action "select"}}
	@searchField={{valueKey}}
	@placeholder=""
	@disabled={{disabled}} as |obj|
>
	{{#if (get obj valueKey)}}
		{{get obj valueKey}}
	{{else}}
		{{obj}}
	{{/if}}
</PowerSelect>
<label for="{{id}}">
	{{label}}
</label>
