{{#unless loggedIn}}
	{{outlet}}
{{else}}
	<header id="header">
		<div class="outer-content">
			{{#link-to "projects" class="logo"}}
				<img src="/logo.svg" alt="Stout" height="29" />
			{{/link-to}}
			<div class="spacer grow-1"></div>
			<DropDown as |dd|>
				<dd.content>
					<UserCard @name={{currentProject.name}} @subname={{currentUser.name}} />
				</dd.content>
				<dd.menu>
					{{#each model as |project|}}
						{{#unless project.isNew}}
							{{link-to project.name "project" project.id}}<br />
						{{/unless}}
					{{/each}}
					{{link-to "New Project" "projects.new" class="btn"}}
					<hr />
					<a {{action "logout"}}>
						Log out
					</a>
				</dd.menu>
			</DropDown>
		</div>
	</header>
	{{#if currentProject}}
		<nav id="mainNav">
			<div class="outer-content">
				{{link-to "Overview" "project.index" currentProject.id class="fe fe-home"}}
				{{link-to "Applications" "project.apps" currentProject.id class="fe fe-box"}}
				{{link-to "Networking" "networking" currentProject.id class="fe fe-globe"}}
				{{link-to "Registries" "project.registries" currentProject.id class="fe fe-unlock"}}
				{{link-to "Users" "project.users" currentProject.id class="fe fe-users"}}
				{{link-to "Settings" "project.settings" currentProject.id class="fe fe-settings"}}
			</div>
		</nav>
	{{/if}}
	<main id="mainContent">
		<div class="outer-content vertical">
			{{outlet}}
		</div>
	</main>
	<footer id="footer">
		<div class="outer-content">
			<div class="content grow-1">
				<p class="grow-1">
					© 2019 Stout developers
				</p>
				<p class="muted">
					Version: {Version}
				</p>
			</div>
		</div>
	</footer>
{{/unless}}
