<h1>
	Projects
</h1>
<div class="content">
	{{#each model as |project|}}
		<div class="size-3">
			<div class="card">
				<header>
					{{link-to project.name "project" project.id}}
				</header>
				<section>
					<b>
						Applications:
					</b>
					{{{if project.apps.isPending "&hellip;" project.apps.length}}}
				</section>
			</div>
		</div>
	{{else}}
		<h2>
			No projects
		</h2>
	{{/each}}
</div>