<header class="content">
	<h1 class="grow-1">
		Registries
	</h1>
	<div>
		{{link-to "Create" "project.registries.new" class="btn pull-right"}}
	</div>
</header>
<Card>
	<table>
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |registry|}}
				<tr>
					<td>
						{{registry.name}}
					</td>
					<td></td>
				</tr>
			{{else}}
				<tr>
					<td colspan="10">
						No registries
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</Card>