<div class="content">
	<Card @size="3">
		{{link-to "Services" "networking.services"}}
		{{link-to "DNS" "networking.dns"}}
	</Card>

	<div class="content vertical grow-1">
		{{outlet}}
	</div>
</div>
