<div class="combi-group">
	<LabelInput
		@label={{label}}
		@value={{mut inputValue}}
		@disabled={{disabled}}
		@type="number"
		class="size-9"
	 />

	<Select
		@data={{get types type}}
		@value={{mut typeValue}}
		@disabled={{disabled}}
		@allowClear={{false}}
		class="size-3"
	 />

</div>