<label>
	Base Number
</label>
<ConfigurableNumber @value={{this.baseNumber}} @onChange={{action (mut this.baseNumber)}} />
<br />
<br />
<label>
	Multiplier
</label>
<ConfigurableNumber @value={{this.multiplier}} @onChange={{action (mut this.multiplier)}} />
<br />
<br />
<label>
	Result
</label>
{{this.result}}